.name {
    float: left;
    margin-left: 25px;
    margin-top: 4px;
}

.value {
    float: right; 
    margin-right: 25px;
    margin-top: 4px;
}

.sensorsContainer {
    background-color: #ebebeb;
    border-width: 2px; 
    border-radius: 5px;
    width: 100%; 
    height: 250px;
    display: inline-block;
    margin-bottom: 20px;
    z-index: 100;
}

.header {
    height: 20px;    
    padding-top: 5px;
}


.sensorsCol {
    padding: 20px;
    width: calc(50% - 40px);
    display: inline;
    float: left;
    
}

.graph {
    width: 100%;
    height: 60%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 7px;
    text-align: center;
}

.graphCanvasJS {
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 7px;
    text-align: center;
    z-index: 999;
}

.footer {
    height: 20px;
}

.stopButton {
    border: 1px;
    padding: 10px;
    float: right;
    margin-right: 20px;
    background-color: #3f933f;
    color: white;
    opacity: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.stopButton:hover {
    cursor: pointer;
}

@media (min-width: 1200px)
{
    .sensorsContainer {
        width: calc(50% - 30px);
        margin-left: 20px;
    }
    
    .sensorsCol {
        width: 50%;
        padding: 0px;
        padding-top: 20px;
    }
}

@media (max-width: 700px)
{
    
    .sensorsCol {
        width: 95%;
        padding: 0px;
        margin-left: 2.5%; 
    }
}
