body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #4a4a4a
}

#homeIcon {
    width: 60px;
    float: left;
    margin: 5px;
}

nav {
    background-color: #F43254;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

#linkList {
    margin:0px;
    padding: 0px;
    margin-left: 30px;
    margin-top: 23px;
    float: left;
}

.navElement {
    display: inline-block;
}

.navFont {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: white;
}

.listElement {
    margin-right: 30px;
    float: left;
    cursor: pointer;
}

#editButton {
    
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0px;
    background-color: #F43254;
    text-align: right;
    padding: 25px 60px 22px 74px;
}

#dropDown {
    text-align: right;
    background-color: #F43254;
    list-style-type: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 20px 35px 25px 30px;
}

#motorsPage {
    display: none;
}

#sensorsPage {
    visibility: hidden;
}

#loginPage {
    display: block;
}
    