body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #4a4a4a;
    z-index: 200;
}

#homeIcon {
    width: 60px;
    float: left;
    margin: 5px;
}

nav {
    background-color: #f43254;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

#linkList {
    margin:0px;
    padding: 0px;
    margin-left: 30px;
    margin-top: 23px;
    float: left;
}

.navElement {
    display: inline-block;
}

.navFont {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: white;
    display: none;
}

.listElement {
    margin-right: 30px;
    float: left;
    cursor: pointer;
}

#connectButton {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */   
}

#editButton {
    
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0px;
    background-color: #F43254;
    text-align: right;
    padding: 25px 60px 22px 74px;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#dropDown {
    text-align: right;
    background-color: #F43254;
    list-style-type: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 20px 35px 25px 30px;
    z-index: 150;
}

#motorsPage {
    display: none;
}

#sensorsPage {
    visibility: hidden;
}

#loginPage {
    display: block;
}
    
.mcButton {
    border: 1px;
    padding: 10px;
    float: right;
    margin-right: 20px;
    background-color: #3f933f;
    color: white;
    opacity: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}